body {
  font-family: sans-serif !important;
  background: #f7f8fb;
}

// ** レスポンシブ対応 - start
$breakpoints: (
  "sp": "screen and (max-width: 530px)",
  "spmd": "screen and (max-width: 768px)",
  "bluma": "screen and (max-width: 1023px)",
  "lgmd": "screen and (max-width: 1092px)"
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

a {
  color: $primary;
}
a:link {
  color: $primary;
}
a:visited {
  color: $primary;
}

.p-font-mini {
  font-size: 0.8rem;
}

.section {
  // width: 1000px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
}

