@include mq(bluma) {
  .navbar-link {
    display: none;
  }
}

.navbar {
  background-color: $dark;
  .navbar-burger {
    span {
      color: white;
    }
  }
}

.footer {
  background-color: $dark;
}

.tabs li.is-active a {
  border-bottom-width: 4px;
  // font-weight: bold;
}

.card-content {
  padding: 1rem;
}

.card {
  box-shadow: 0px 2px 4px #0000001a;
  border-radius: 8px;
  opacity: 1;
}

.image.is-100x100 {
  height: 124px !important;
  width: 124px !important;
  margin-top: -0.8rem;
  margin-right: -0.8rem;
}

.notification {
  padding: 0.6rem 0.4rem 0.6rem 0.4rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #0000001a;
  border-radius: 8px;
  opacity: 1;
  padding: 1rem;
}
