// Set your colors
$primary: #1197a7;
$primary-invert: findColorInvert($primary);
$danger: #ca513e;
$danger-invert: findColorInvert($danger);
$success: #8d8e90;
$success-invert: findColorInvert($success);
$dark: #616161;
$dark-invert: findColorInvert($dark);
$light: #eeecec;
$light-invert: findColorInvert($light);
$grey: #8d8d8d;
$grey-invert: findColorInvert($grey);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$input-placeholder-color: #8d8d8d;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Disable Bulma Spacing Helpers
$spacing-shortcuts: (
  "margin": "bulma-m",
  "padding": "bulma-p"
);
