// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #1197A7;
$primary-invert: findColorInvert($primary);
$danger: #CA513E;
$danger-invert: findColorInvert($danger);
$success: #8D8E90;
$success-invert: findColorInvert($success);
$dark: #616161;
$dark-invert: findColorInvert($dark);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import './_mixins.scss';
@import './_variables.scss';
