// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "./customize.scss";

@import "~bulma";
@import "~buefy/src/scss/buefy";

@import "./_mixins.scss";

// Import OwnPlate Styles
@import "./ownplate.scss";
