h2 {
  color: #8D8D8D;
  font-size: 1.2rem;
  line-height: 2.4em;
  font-weight: 600;
}

.item-price {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.item-name {
  font-weight: bold;
  font-size: 1.2rem;
}
