.validation_ok {
  color:red;
  background:#ffeeee;
  border: 0;
}
  
.customer_paid {
  color:red;
  background:#ffeeee;
  border: 0;
}

.order_accepted {
  color:#FF8000;
  background:#FFF3DE;
  border: 0;
}

.cooking_completed {
  color: #8506A8;
  background:#F5E4F6;
  border: 0;
}

.customer_picked_up {
  color:red;
  background:#ffeeee;
  border: 0;
}
