.validation_ok,
.validation_ok:hover {
  color: red;
  background: #ffeeee;
  border: 0;
}

.order_placed,
.order_placed:hover {
  @extend .c-status-amber;
  @extend .bg-status-amber-bg;
  border: 0;
}

.order_accepted,
.order_accepted:hover {
  @extend .c-status-blue;
  @extend .bg-status-blue-bg;
  border: 0;
}

.cooking_completed,
.cooking_completed:hover {
  @extend .c-status-green;
  @extend .bg-status-green-bg;
  border: 0;
}

.ready_to_pickup,
.ready_to_pickup:hover {
  @extend .c-status-purple;
  @extend .bg-status-purple-bg;
  border: 0;
}

.order_canceled,
.order_canceled:hover {
  @extend .c-status-red;
  @extend .bg-status-red-bg;
  border: 0;
}

.order_refunded,
.order_refunded:hover {
  color: #3506a8;
  background: #f5e4f6;
  border: 0;
}

.stripe_pending {
  @extend .c-text-black-disabled;
}
.stripe_confirmed {
  @extend .c-status-green;
}
.stripe_canceled {
  @extend .c-status-red;
}
