.button[disabled] {
  background: #ddd;
  opacity: 0.5;
  > span {
    color: rgba(0, 0, 0, 0.38);
  }
}

.op-button-text {
  padding-right: 8px;
  padding-left: 8px;
  .material-icons {
    font-size: 18px;
    margin-right: 8px;
  }
  span {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
  }
  color: #0097a7;
}
