<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({‘gtm.start’:
    new Date().getTime(),event:‘gtm.js’});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!=‘dataLayer’?‘&l=‘+l:‘’;j.async=true;j.src=
    ’https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,‘script’,‘dataLayer’,‘GTM-PLFRX7K’);</script>
    <!-- End Google Tag Manager -->

    <link rel="apple-touch-icon" sizes="180x180" href="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/favicon-16x16.png">
    <link rel="manifest" href="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/site.webmanifest">
    <link rel="shortcut icon" href="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="<%= process.env.VUE_APP_MO_DATA_BASE_URL %>images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons%7CMaterial+Icons+Outlined" rel="stylesheet">
    <title>mo test / おもちかえり.com</title>
    <script src="https://js.stripe.com/v3/" async></script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLFRX7K" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <noscript>
      <strong>mo test / おもちかえり.comです</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
