@import 'tailwindcss';

@config '../../../tailwind.config.js';


body {
  font-family: sans-serif !important;
}

div,
span {
  word-break: break-word;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0;
}

.columns,
.column {
  margin: 0;
  padding: 0;
}

.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child),
.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.tabs:not(:last-child) {
  margin-bottom: 0;
}

/* Overwrites for Tailwind CSS */
img,
svg,
canvas {
  display: inline-block;
}

/* Keep this class for Tailwind CSS */
.button[disabled] {
  background-color: transparent !important;
}

.button {
  box-shadow: none !important;
}

.animation-content {
  z-index: 100;
  max-height: 90%;
  overflow: scroll;
}

/* Workaround for Bulma and Oruga input field */
/* https://oruga.io/components/Input.html */
.control {
  position: relative;
}

.control .icon.is-right {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 40px;
}

.select .icon.is-right {
  display: none;
}

.field .has-addons {
  display: inherit !important;
}

/* 2024/10/04
 * 以下のバージョンへあげた際のスタイル崩れを修正
 * @oruga-ui/theme-bulma”: “^0.4.1"
 * 影響箇所：input、textarea
 * 対象画面：ログイン、店情報の変更、商品登録
 */
.field .control.has-icons-right {
  display: block !important;
}

/*
 * add for
 * @oruga-ui/theme-bulma”: “^0.4.1"
 * text color of success events
 * ref: PhoneLogin.vue, PhoneEntry.vue
 */
.help.is-success {
  color: #16a34aff !important;
}

.has-text-success {
  color: #48c78e !important;
}

.mdi-alert-circle {
  color: #f14668 !important;
}


a {
  color: #485fc7;

  &:hover {
    color: #363636;
  }
}
