@import 'tailwindcss';

@config '../../../tailwind.config.js';

@layer base {
  body {
    @apply font-sans bg-gray-100/70;
  }
  a {
    @apply text-indigo-500 transition-colors;
  }

  a:hover {
    @apply text-gray-700;
  }

  a:visited {
    @apply text-gray-700;
  }

  a:active {
    @apply text-gray-700;
  }
}

div,
span {
  word-break: break-word;
}

.columns.is-gapless:not(:last-child) {
  margin-bottom: 0;
}

.columns,
.column {
  margin: 0;
  padding: 0;
}

.box:not(:last-child),
.content:not(:last-child),
.notification:not(:last-child),
.progress:not(:last-child),
.table:not(:last-child),
.table-container:not(:last-child),
.title:not(:last-child),
.subtitle:not(:last-child),
.block:not(:last-child),
.highlight:not(:last-child),
.breadcrumb:not(:last-child),
.level:not(:last-child),
.list:not(:last-child),
.message:not(:last-child),
.tabs:not(:last-child) {
  margin-bottom: 0;
}

/* Overwrites for Tailwind CSS */
img,
svg,
canvas {
  display: inline-block;
}

/* Workaround for Bulma and Oruga input field */
/* https://oruga.io/components/Input.html */

.select .icon.is-right {
  display: none;
}


