# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  pull_request

jobs:
  build-functions:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    defaults:
      run:
        working-directory: functions
        
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: cp ../src/config/constant.ts ./src/common/constant.ts
    - run: cp ../src/utils/phoneutil.ts ./src/common/phoneutil.ts
    - run: cp ../src/utils/commonUtils.ts ./src/utils/commonUtils.ts
    - run: cp ../src/models/RestaurantInfo.ts ./src/models/RestaurantInfo.ts
    - run: cp ../src/models/menu.ts ./src/models/menu.ts
    - run: cp ../src/config/default/ownplate-dev.ts ./src/common/project.ts
    - run: SHARP_IGNORE_GLOBAL_LIBVIPS=1 npm_config_arch=x64 npm_config_platform=linux yarn install
    - run: yarn run ci_test
    - run: yarn run lint
    - run: yarn run build


  build-vue:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: cp src/config/default/ownplate-dev.ts src/config/project.ts
    - run: yarn install
    - run: yarn run lint
    - name: yarn build
      run: yarn run build
      
